{% extends "user/base.html" %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-top:20px">
            
            <a class="col-sm shadow-lg p-3 mb-5 bg-white rounded" style="border: 0px; margin:10px; background: #000000; ">
                <img src="https://image.flaticon.com/icons/svg/119/119058.svg" class="img-fluid" alt="Responsive image">
            </a>
            
            <a href="#" class="col-sm shadow-lg p-3 mb-5 bg-white rounded" style="border: 0px; margin:10px; background: #000000; ">
                <img src="https://image.flaticon.com/icons/svg/119/119058.svg" class="img-fluid" alt="Responsive image">
            </a>
            <a class="col-sm shadow-lg p-3 mb-5 bg-white rounded" style="border: 0px; margin:10px; background: #000000; ">
                <img src="https://image.flaticon.com/icons/svg/119/119058.svg" class="img-fluid" alt="Responsive image">
            </a>
            
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-sm shadow-lg p-3 mb-5 bg-white rounded" style="margin:10px; background: #000000; ">
                <img src="https://image.flaticon.com/icons/svg/119/119058.svg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-sm shadow-lg p-3 mb-5 bg-white rounded" style="margin:10px; background: #000000; ">
                <img src="https://image.flaticon.com/icons/svg/119/119058.svg" class="img-fluid" alt="Responsive image">
            </div>
            
        </div>
    </div>
{% endblock content %}