{% extends "user/base.html" %}
{% block content %}
{% for detail in details %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
        <h1 class="mr-2" href="#">{{ detail.doctor }}</h1>
        <h4>Recent Perscriptions:</h4>
        {% for hist in detail.history.all %}
            <p>{{hist.medicine}}</p>
        {% endfor %}
        <h4>Recent Recommendations:</h4>
        {% for hist in detail.history.all %}
            <p>{{hist.recommendation}}</p>
        {% endfor %}
        </div>

        
    </div>
    </article>
    {% endfor %}

{% endblock content %}