{% extends "user/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
       <div class="media">
         <div class="media-body">
           <h1 class="account-heading">{{ user.username }}</h1>
           <p class="text-secondary">Email: {{ user.email }}</p>
           <p class="text-secondary">Role: {{ user.profile.role }}</p>
           <p class="text-secondary">DOB: {{ user.profile.dob }}</p>
           <p class="text-secondary">Bloog Group:{{ user.profile.bloodGroup }}</p>
           
         </div>
       </div>
     </div>
    
{% endblock content%}