{% extends "user/base.html" %}
{% block content %}
<div style="">
        {% for detail in details %}
        
        {% for patient in patients %}
        
            {% ifequal detail.aadhar patient.uid %}
            
                <div class="article-metadata">
                <h1 class="mr-2" href="#">{{ patient.name }} treated by {{ detail.doctor }}</h1>
            {% endifequal %}
        {% endfor %}
        {% endfor %}
        
            
        
        </div>
{% endblock content %}